:root {
    --primario: #f8f1d8;
    --secundario: #fabb5c;
    --texto: #7a5cfa;
    --fondo: #3e0e75;

    --blanco: #f5f5f5;
    --negro: #0d0d0d;

    --font: monospace, Arial, helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */
body {
    margin: 0 auto;
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--blanco); 
    background-color: var(--negro);
    background-image: url(https://i.pinimg.com/736x/c6/79/ca/c679ca23c49a4b4a5a7c7ef8aef65556.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0.6rem auto; 
}

a {
    text-decoration: none;
    color: var(--fondo);
}

/* Presentación */
.presentacion {
    width: 85%;
    margin: 2.5rem auto;
    padding: 0.1rem;
    background-color: #0d0d0d9e;
    border-radius: 1rem;
}

.presentacion__title,
.presentacion__description {
    text-align: center;
    margin: 0.9rem;
}

.presentacion__title {
    font-size: 2.9rem;
}

.presentacion__description {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    .presentacion {
        width: 75%;
        margin: 1.5rem auto;
    }

    .presentacion__title {
        font-size: 4.3rem;
    }

    .presentacion__description {
        font-size: 2rem;
    }
}

/* Formulario */
.formulario {
    padding: 2.5rem;
    margin: 0 auto 3rem auto;
    width: 80%;
    min-width: 350px;
    max-width: 650px;
    background-color: #030303;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .formulario {
        width: 95%;
    }
}

.icon {
    display: flex;
    justify-content: center;
    margin: 0.6rem;
}

fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 0.3rem solid var(--fondo);
    margin-bottom: 2.5rem;
}

legend {
    color: var(--texto);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

label {
    display: block;
    font-size: 1.9rem;
}

input,
textarea {
    border: none;
    background-color: var(--fondo);
    border-radius: 0.3rem;
    color: var(--blanco);
}

.informacion { 
    width: 100%;
    padding: 0.9rem;
}

textarea,
select {
    width: 100%;
    padding: 0.6rem;
} 

select {
    padding: 0.5rem;
}

.radio-grupo {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 0.5rem;
    margin-left: 1rem;
}

/* Final */
.boton {
    display: inherit;
    background-color: var(--texto);
    border-radius: 0.5rem;
    padding: 1.6rem 6rem;
    margin: 2.3rem auto;
}
.agradecimiento {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}
